.home-container {
  padding: 30px;
  width: 90%;
  margin: auto;
}

.heading {
  padding-left: 30px;
  color: #1e293b;
}
.courses-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.failure-view-img {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}
.retry-btn {
  padding: 12px;
  background-color: #4656a1;
  color: #ffffff;
  border-radius: 8px;
  border-style: none;
}
